/* 
 * Global Turing styles
 */

body, html {
    margin: 0px;
    padding: 0px;
}

body {
    background: #ffffff;
    color: #000000;
    font-family: Georgia, Times, serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 50px 0 0 0;
    /* Justify text (sk) */
    text-align: justify;
    text-justify: inter-word;
}

/*
 * Header / Navigation
 */

.header_img {
    margin: 100px auto 50px auto;
    padding: 0 35px 0 35px;
    position: relative;
    text-align: center;
    width: 905px;
    z-index: 999;
}

.header_img img {
    display: inline;
    float: none !important;
    margin: 0;
}
    
#nav_wrapper {
    background: #ffffff;
    height: 50px;
    position: fixed;
    left: 0; right: 0; top: 0;
    z-index: 999;
}

.feed_nav {
    border-bottom: 2px solid #cccccc;
    border-bottom: 2px solid rgba(0,0,0,0.20);
    font-family: Arial, sans-serif;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto 0 auto;
    padding: 0 35px 0 35px;
    position: relative;
    width: 905px;
    z-index: 999;
}

.feed_nav br {
    display: none !important;
}

.feed_nav div {
    float: left;
}

.page_nav {
    max-width: 480px;
    overflow: hidden;
}

.feed_nav a {
    color: #999999; 
    margin-right: 25px;
    text-decoration: none; 
}

.feed_nav a:hover {
    color: #000000; 
    text-decoration: underline; 
}

.feed_nav a:active { 
    color: #666666; 
}

.feed_nav a.link_link {
    color: #999999; 
    /* text-decoration: underline; */
}

.feed_nav a.link_link:hover { 
    color: #000000;
    text-decoration: underline;
}

.feed_nav a.link_link:active { 
    color: #666666;
}

.feed_nav a.indexlink {
    display:none;
    color: #000000;
    text-decoration: underline;
}

.feed_nav .feed_nav a.feedlink {
    color: #000000;
    text-decoration: underline;
}
 .feed_nav a.indexlink:active, 
 .feed_nav a.feedlink:active {
     color: #666666;
 }

.feed_nav a.feedlink.select { 
    color: #000000; 
    font-weight: normal; 
    text-decoration: none; 
}

.feed_nav a.indexlink.select { 
    color: #000000; 
    font-weight: normal; 
    text-decoration: none; 
}

.feed_nav a.select:hover {
    text-decoration: underline !important;
}

.feed_nav a.select:active {
    color: #cccccc !important;
}

.nav_follow { 
    display:none;
    color: #999999;
}    

.nav_follow a { 
    color: #999999;
    margin-right: 0;
    text-decoration: underline; 
}

.nav_follow a:hover { 
    color: #000000; 
}

.nav_follow a:active { 
    color: #666666; 
}

.page_nav a { 
    color: #999999; 
}

.page_nav a:hover { 
    color: #000000; 
    text-decoration: underline; 
}

.page_nav a:active { 
    color: #666666; 
}
    
#entry_nav {
    float: right;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    width: 35px;
}

#entry_nav a {
    display: block;
    color: #999;
    float: left;
    height: 49px;
    line-height: 49px;
    margin: 0;
    width: 17px;
}

#entry_nav a:hover {
    color: #000000;
    text-decoration: none;
}

#feed_views {
    border-right: 1px solid #cccccc;
    height: 50px;
    margin-right: 25px;
}

/* 
 * Content
 */

#content_container {
    clear: both;
    margin: 0 auto 0 auto;
    position: relative;
    width: 975px;
    z-index: 10;
}

.entry {
    background: #ffffff;
    border-bottom: 1px solid #cccccc;
    clear: both;
    padding: 50px 35px 0 35px;
    margin: 0 0 50px 0;
    width: 905px;
}

.entry a { 
    color: #000000;
    text-decoration: underline;
}

.entry a:hover { 
    background: #ffff00;
    color: #000000;
}

.entry a:active { 
    background: #000000; 
    color: #ffffff; 
}

.project_title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 32px;
    line-height: 50px;
    padding: 0 0 36px 0;
    text-rendering: optimizeLegibility;
    width: 560px;
}

.project_title a {
    background: none; 
    color: #000000; 
    text-decoration: none; 
}    

.project_title a:hover { 
    background: none; 
    color: #000000; 
    text-decoration: underline;
}

.project_title a:active { 
    background: none; 
    color:#666666; 
    text-decoration: underline; 
}

.project_content {
    width: 630px;
}

/* Styling of default typographic headers and elements */

h1 {
    font-size: 22px;
    line-height: 165%;
}

h2 {
    font-size: 16px;
    line-height: 165%;
}

h3 {
    font-size: 14px;
    line-height: 150%;
}

p {
    margin: 0;
    width: 560px;
}

blockquote {
    border-left: 2px solid #cccccc;
    color: #666666;
    margin: 0 0 0 24px;
    padding: 0 0 0 24px;
}

.project_content img {
    margin: 0px 25px 25px 0px;
}
    
/* 
 * Slideshows
 */

.slideshow_nav {
    color: #999999;
    font-size: 11px;
    padding-bottom: 10px;
}

.slideshow_nav a {
    color: #666666;  
    text-decoration: none;  
}

.slideshow_nav a:hover {
    background: none !important;
    color: #999999;
    text-decoration: none;
}

.slideshow_nav a:active {
    color: #ff3300;
}

.slideshow_count {
    color: #999999;
    font-size: 11px;
}

.slideshow_wrapper {
    clear: both;
    margin: 0px 15px 15px 0px;
}

#slideshow_container img {
    margin: 0px;
}

.slideshow_wrapper a, 
.slideshow_wrapper a:hover, 
.slideshow_wrapper a:active {
    background: none !important;
}

.slideshow_thumbs {
    margin: 7px 0 7px -3px;
}
    
ul.slideshow_thumbs {
    margin: 0;
    padding: 0;
}    

.slideshow_thumb {
    float: left;
    list-style: none;
    margin: 0 0 0 -3px;
    padding: 0 7px 10px 0px;
}

.slideshow_thumb a {
    background: none;
    border: 1px solid transparent;
    display: block;
    padding: 2px;
}

.slideshow_thumb a:hover {
    background:none;
    border: 1px solid #cccccc;
}

a.activeSlide {
    background:none;
    border: 1px solid #cccccc;
}

.slideshow_thumb a:active, 
a.activeSlide:active {
    background: transparent;
    border: 1px solid #666666;
}

.slideshow_thumb img {
    border: 0;
    display: block;
    margin: 0;
    height: 60px;
}

.slideshow_caption {
    clear: both;
    display: block;
    font-size: 11px;
    padding: 5px 0 5px 0;
}

/**
 * Fullscreen button
 */
 
a#fullscreen {
    background-color: #1a1a1a;
    background-image: url(/_gfx/fullscreen_open.png);
    background-repeat: no-repeat;
    background-position: 67px 3px;
    border: 1px solid #1a1a1a;
    color: #bbbbbb;
    display: block;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
    font-size: 11px;
    line-height: 18px;
    height: 19px;
    padding: 0 4px 0 5px;
    text-align: left;
    text-decoration: none;
    width: 74px;
}

a#fullscreen:hover {
    background-color: #fff;
    color: #000;
}

a#fullscreen:active {
    background-color: #fff;
    border: 1px solid #999;
    color: #666;
}

/* 
 * Project footer
 */

.project_footer {
    color: #999999;
    clear: both;
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding: 50px 0 25px 0;
    text-align: right;
}

.project_footer span {
    margin-left: 25px;
}

.comment_link a {
    color: #999999;
}
    
.comment_link a:hover {
    text-decoration: underline;
}

.project_footer span.tags {
    color: #999999;
    float: left;
    margin-left: 0;
}
    
.project_footer .permalink a { 
    color: #999999; 
    font-style: normal; 
    text-decoration: underline; 
}

.project_footer .permalink a:hover { 
    background: #ffff00; 
    color: #000000;
}

.project_footer .permalink a:active { 
    background: #000000; 
    color: #ffffff; 
}
    
.project_footer .editlink a { 
    color: #0066ff; 
    font-style: italic; 
}

.project_footer .editlink a:hover { 
    background: #ffff00; 
    color: #000000; 
}

.project_footer .editlink a:active { 
    background: #000000; 
    color: #ffffff; 
}
 
.view_tag_info {
    margin: 0 auto 0 auto;
    padding: 35px 35px 0 35px;
    width: 905px;
}

.view_tag_info a { 
    color: #999999;
}

.view_tag_info a:hover { 
    background: #ffff00; 
    color: #000000; 
}

.view_tag_info a:active { 
    background: #000000; 
    color: #ffffff; 
}
    
.tags a { 
    color: #999999; 
    text-decoration: underline; 
}

.tags a:hover { 
    background: #ffff00; 
    text-decoration: underline;
}

.tags a:active { 
    background: #000000; 
    color: #ffffff; 
}
    
/* Index view
 * Thumbnails
 */

.index {
    background: #ffffff;
    clear: both;
    margin: 0 auto 0 auto;
    padding: 83px 0 0 35px;
    width: 940px;
}

.index .module {
    float: left;
    margin: 0 35px 10px 0;
    position: relative;
    text-align: center;
}

.cardimgcrop {
    margin: 0 0 12px 0;
    position: relative;
    min-height: 134px;
    min-width: 200px;
}

.cardimgcrop.notitle_notag {
    margin-bottom: 25px;
}
    
.loader_holder {
    display: none;
    position: absolute;
    text-align: center;
    top: 8px; left: 8px;
    z-index: 3;
}

.thumb_title {
    overflow: hidden;
    padding-top: 2px;
    white-space: nowrap;
    text-align: center;
    width: 200px;
}

.thumb_title a {
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.index .thumb_title a:hover {
    background: none;
    color: #000000;
    text-decoration: underline;
}

.thumb_title.notag {
    margin: 0 0 25px 0;
}

.thumb_tag {
    color: #999999;
    height: 3em;
    line-height: 15px;
    overflow: hidden;
    text-align: center;
    width: 200px;
}

.thumb_tag.notitle {
    margin-top: 0px;
}

.thumb_tag a {
    color: #999999;        
    font-size: 11px;
    font-style: italic;
    line-height: 1.5em;
    text-align: center;
    text-decoration: none;
}

.thumb_tag a:hover {
    text-decoration: underline;
}

.thumb_tag a:active {
    color: #cccccc;
}
    
/* 
 * Search results
 */
    
#search_form {
    float: right;
    margin: 0 0 0 20px;
    padding: 0;
}
    
#search_form #search_term {
    background: #ffffff;
    border-left: 1px solid #cccccc;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 50px;
    line-height: 12px;
    padding: 0 0 0 25px;
    width: 160px;
}

#search_form #search_term.ie {
    line-height: 50px;
}

#search_form #search_term:focus {
    color: #000000;
}

#search_form_results {
    padding: 50px 0 100px;
}

.search_header {
    color: #999999;
    float: left;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 4px 0;
    width: 145px;
}

#search_term {
    background: #ffffff;
    border: 1px solid #cccccc;
    color: #000000;
    float: left;
    font-family: Georgia, Times, serif;
    font-size: 14px;
    margin: 0;
    padding: 5px;
    width: 220px;
}

#search_results {
    float: left;
}

.result {
    clear: both;
    margin-bottom: 60px;
}

.search_thumb {
    float: left;
    margin: 4px 25px 35px 0px;
}

.search_thumb img {
    width: 120px; height: auto;
}

.search_text {
    width: 500px;
    margin-left: 145px;
}

.search_title a {
    color: #000000;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: underline;            
}

.search_title a:hover {
    color: #0066ff;
}

.search_title a:active {
    color: #999999;
    text-decoration: none;
}

.search_tags {
    color: #999999;
    font-size: 11px;
}

.search_tags a {
    color: #999999;
    text-decoration: none;
}

.search_tags a:hover {
    background: none;
    color: #000000;
    text-decoration: underline;
}

.search_tags a:active {
    color: #666666;
}
        
/*
 * Footer
 */

.bottompad {
    clear: both;
    height: 35px;
    margin: 35px 0 0 0;
    position: relative;
    width: 705px;
}

/*
 * Video component
 */

.video_component {
    float: left;
    margin: 0 15px 15px 0;
}

/*
 * Audio component
 */

.audio_component {
    color: #777777;
    font-family: 'Droid Sans Mono', Monaco, Monospace, Arial, san-serif;
    font-size: 10px;
    height: 30px;
    line-height: 26px;
    width: 300px;
}

.audio_component div {
    height: 26px;
}

.audio_component .border {
    border: 2px solid #aaaaaa;
    opacity: 0.5;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}

.audio_component .vertical_border {
    background: #aaaaaa;
    opacity: 0.50;
    
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}

.audio_component .controls {
    top: 2px; left: 2px;
}

.audio_component .play_pause {
    background: url("/_gfx/playpause.png");        
}

.audio_component .spectrum .spectrum_bar {
    background: #666666;
}

.audio_component .loading {
    background: #bbbbbb;
    opacity: 0.25;
    
    filter: alpha(opacity=25);
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
}

.audio_component .progress {
    background: #bbbbbb;
    border-right: 1px dotted #333333;
    opacity: 0.25;
    
    filter: alpha(opacity=25);
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
}

.audio_component .volume_slide.hover {
    background: #bbbbbb;
    opacity: 0.3;

    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
}

/* 
 * Other
 */

/* Admin and following icons - Only you see this */
.toolset {
    position: fixed;
    top: 10px; right: 10px;
    z-index: 9999;
}

/* Rotating loading indicator */
.moreload {
    display: none;
    color: #999999;
    font-size: 11px;
    padding: 0 0 50px 35px;
    clear:both;
}
.moreload_link a {
    color: #000000;
    text-decoration: underline
    font-size: 12px;
    clear:both;
}
.moreload_link a:hover {
    background: #ff0;
}
.moreload_link a:active {
    background: none;
    color: #999;
}

/* "Running on Cargo" */
.cargo_link {
    color: #cccccc;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    font-size: 10px;
    line-height: 1.5;
    position: fixed;
    right: 15px; bottom: 15px;
    text-align: right;
    z-index: 99;
}

.cargo_link a { 
    color: #cccccc; 
    text-decoration: underline; 
}

.cargo_link a:hover { 
    color: #000000; 
    text-decoration: underline; 
}

.cargo_link a:active { 
    background: #000000; 
    color: #ffffff; 
}
        
/*
 * In-browser code editing made "almost bearable" by CodeMirror: http://marijn.haverbeke.nl/codemirror
 */