<div class="entry" id="entry_$postId$" page_type="project">
  <div class="project_title"><a href="$postUrl$">$title$</a></div>
  <div class="project_content">
    $body$
    <script>
    var idcomments_acct = '03864872c1626de8318681ba92d055f7';
    var idcomments_post_id = '$postId$';
    var idcomments_post_url = '$url$';
    </script>
    <span id="IDCommentsPostTitle" style="display:none"></span>
    <script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
  </div>
  <div class="project_footer"><span class="footer_title_type" id="header_title_type">$date$</span></div>
</div>
